h4 { margin: 0;}

.modal,body.modal-open {
    padding-right: 0!important
}


.modal-footer {
    display: flex;
    justify-content: flex-start;
    .btn {
        position: absolute;
        right: 10px;
    }
}

#picSize {
	width: 500px;
	height:100% !important;
}
 
#modal-conent-id  {
    height: 80%;
} 

body { 
	overflow-y: scroll; 
}